/*Estilos del texto del footer */
.texto-footer{
    color: #f0c14b;
}

/*Estilos del footer */
footer{
    margin-top: 20px;
}

/*Estilos del mapa */
.mapa{
    width: 100%;
    height: 150px;
    border: 0;
}